{{#partial "contenido"}}
  
<div class="titulo">DARKSOULS SAGA</div>
<div class="contenido-principal" style="margin-top: -50px;">

   <style>
    table {
      width: 100%;
      margin-top: 20px;
    }

    table, th, td {
     
    }

    img {
      width: 100%;
      height: auto;
      transition: transform 0.3s ease; /* Añadir transición suave */
    }

    img:hover {
      transform: scale(1.1); /* Escalar la imagen al pasar el mouse */
    }

    #cambiarImagenes {
      margin-top: 10px;
      cursor: pointer;
    }

    .imagen-ampliada img {
    max-width: 120%;
    max-height: 120%;
    transition: transform 0.3s ease-in-out;
    transform: scale(0.6);  /* Reduce el tamaño inicial */
}

.imagen-ampliada.mostrar img {
    transform: scale(0.8);  /* Tamaño reducido en lugar de 100% */
}


  </style>
  
  <style>
        body {
            text-align: center; /* Centrar elementos en el cuerpo de la página */
        }

        #mi-contenedor {
            margin-bottom: 20px; /* Añade espacio entre la tabla y los botones */
        }
    </style>
</head>
<body>

<!-- Contenedor donde se renderizará la tabla -->
<div id="mi-contenedor"></div>

<script>
    // Datos
    /* 
    var fotos = [
        { nombre: '{{foto1.nombre}}', imagen: '{{foto1.imagen}}' },
         { nombre: '{{foto2.nombre}}', imagen: '{{foto2.imagen}}' },
         { nombre: '{{foto3.nombre}}', imagen: '{{foto3.imagen}}' },
       { nombre: '{{foto4.nombre}}', imagen: '{{foto4.imagen}}' },      
        { nombre: '{{foto5.nombre}}', imagen: '{{foto5.imagen}}' },       
         { nombre: '{{foto6.nombre}}', imagen: '{{foto6.imagen}}' },        
          { nombre: '{{foto7.nombre}}', imagen: '{{foto7.imagen}}' },        
           { nombre: '{{foto8.nombre}}', imagen: '{{foto8.imagen}}' },
        
            
        // ... tus datos ...
    ];
    */

      var fotos = [];

    {{#each imaganes}}
        fotos.push({ nombre: "{{this.nombre}}", imagen: "{{this.imagen}}" });
    {{/each}}

    // Inicializa el índice de la tanda actual
    var currentTandaIndex = 0;

    // Función para mostrar la tabla de imágenes
    function mostrarTablaImagenes() {
        var contenedor = document.getElementById('mi-contenedor');
        contenedor.innerHTML = generarHTMLTabla();
    }

    // Función para generar el HTML de la tabla de imágenes
    function generarHTMLTabla() {
        var html = '<table id="tablaImagenes" class="mi-tabla" border="0" align="center">';

        for (var i = 0; i < 2; i++) {
            html += '<tr>';

            for (var j = 0; j < 2; j++) {
                var fotoIndex = currentTandaIndex * 4 + i * 2 + j;

                if (fotoIndex < fotos.length) {
                    html += `<td>${generarHTMLImagen(fotos[fotoIndex])}</td>`;
                }
            }

            html += '</tr>';
        }

        html += '</table>';
        return html;
    }

    // Función para generar el HTML de una imagen
    function generarHTMLImagen(foto) {
        return `
            <a href="#" onclick="ampliarImagen('${foto.imagen}', '${foto.nombre}')">
              <img src="${foto.imagen}" loading="lazy" alt="${foto.nombre}" width="500" height="500">
              <figcaption>${foto.nombre}</figcaption>
            </a>
        `;
    }

    // Función para avanzar a la siguiente tanda de imágenes
    function siguienteTanda() {
        currentTandaIndex = (currentTandaIndex + 1) % Math.ceil(fotos.length / 4);
        mostrarTablaImagenes();
    }

    // Función para retroceder a la tanda anterior de imágenes
    function tandaAnterior() {
        currentTandaIndex = (currentTandaIndex - 1 + Math.ceil(fotos.length / 4)) % Math.ceil(fotos.length / 4);
        mostrarTablaImagenes();
    }

    // Inicializa la página mostrando la tabla de imágenes
    mostrarTablaImagenes();
    
    var botonEstilo = 'margin: 5px;';

    // Botones "Siguiente Tanda" y "Tanda Anterior"
    var botonTandaAnterior = document.createElement('button');
    botonTandaAnterior.textContent = 'Tanda Anterior';
    botonTandaAnterior.setAttribute('style', botonEstilo);
    botonTandaAnterior.setAttribute('type', 'button');
    botonTandaAnterior.setAttribute('class', 'btn btn-secondary btn-lg');
    botonTandaAnterior.onclick = tandaAnterior;

    var botonSiguienteTanda = document.createElement('button');
    botonSiguienteTanda.textContent = 'Siguiente Tanda';
    botonSiguienteTanda.setAttribute('style', botonEstilo);
    botonSiguienteTanda.setAttribute('type', 'button');
    botonSiguienteTanda.setAttribute('class', 'btn btn-primary btn-lg');
    botonSiguienteTanda.onclick = siguienteTanda;

    // Inicializa la página mostrando la tabla de imágenes y los botones
    mostrarTablaImagenes();
    document.body.appendChild(botonTandaAnterior);
    document.body.appendChild(botonSiguienteTanda);

    // Función para disminuir la imagen al hacer clic
    function disminuirImagen(img) {
        img.style.transform = 'scale(0.9)';
    }
</script>

<!-- Botones "Siguiente Tanda" y "Tanda Anterior" -->

<div class="imagen-ampliada" onclick="cerrarImagen()">
    <img id="imagenAmpliada" src="" alt="Imagen Ampliada">
</div>

<script>
    var scrollPosition;

    function ampliarImagen(src, descripcion) {
        // Guardar la posición actual del scroll
        scrollPosition = window.scrollY;

        var imagenAmpliada = document.getElementById('imagenAmpliada');
        imagenAmpliada.src = src;
        imagenAmpliada.alt = descripcion;
        document.querySelector('.imagen-ampliada').style.display = 'flex';
       

        // Deshabilitar el scroll de la página mientras la imagen está ampliada
        document.body.style.overflow = 'hidden';
    }

    function cerrarImagen() {
        // Restaurar la posición del scroll
        window.scrollTo(0, scrollPosition);

        document.querySelector('.imagen-ampliada').style.display = 'none';

        // Habilitar nuevamente el scroll de la página
        document.body.style.overflow = 'visible';
    }
</script>

{{/partial}}
{{>layout.hbs}}

